body{
	
	color: #000;
	font: normal 14px/1.4 $body-fontfamily;
	width: 100%;
	overflow: hidden;
}
a{
	color: $a-link;
	text-decoration: none;
	outline:none;
}
a:hover{
	color: $a-hover;
}
p{
	padding: 0 0 20px;
}
strong {
	font-weight: bold;
}
.left{
	float: left;

}
.right{
	float: right;
	
}
.section-wrap{
	position: relative;
	z-index: 2;
}
.section{
	width: 960px;
	margin:0 auto;
	@extend .clearfix;
	h1{
		margin-bottom: 40px;
		font-size: 36px;
	}
}

.fade{
	opacity: 0;
	position: relative;
	top: 20px;
	@include transition(all,0.2s,ease-in);
	&.fade-in{
		opacity: 0.8;
		top: 0;
	}
}




.section-header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
}
.home-bg{
	position: relative;
}
.home-bg .title{
	position: absolute;
	bottom: 400px;
	left: 480px;
}
.home-bg p{
	color: #fff;
	font-size: 70px;
	letter-spacing: 30px;
}
.nav{
	width: 960px;
	position: absolute;
	z-index: 5;
	ul{
		@extend .clearfix;
	}
	li{
		float: left;
		text-align: center;
		position: relative;
		width: 20%;
		a{
			color: #fff;
			font-size: 30px;
			display: block;
			padding: 40px 0;
			width: 100%;
			@include transition(all,0.6d,ease-in);
		}
	}
	.fade1{
		a:hover,
		&.hover a{
			color: #FF0404;
		}
	}
	.fade2{
		a:hover,
		&.hover a{
			color: #FC04EF;
		}
	}
	.fade3{
		a:hover,
		&.hover a{
			color: #0A00FF;
		}
	}
	.fade4{
		a:hover,
		&.hover a{
			color: #03FC6C;
		}
	}
	.back-home{
		height: 1px;
		-webkit-transition:none;
		-moz-transition:none;
		-ms-transition:none;
		-o-transition:none;
		transition:none;
	}
	.back-home a{
		position: absolute;
		width: 100px;
		height: 100px;
		left: 50%;
		margin-left: -50px;
		margin-top: -20px;
		border-radius: 50%;
		border: 4px solid #fff;
		overflow: hidden;
		text-indent: -999px;
		background: url(images/headImg.jpg);
		-webkit-background-size:100px 100px;
		background-size: 100px 100px;
		padding: 0 !important;
		top: 30px;
/* 		&:hover{
	
} */
	}
}

.home-bg{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	img{
		max-width: noen;
		width: 100%;
		height: 100%;
		opacity: 0.9;
	}
}

/* loading............ */
.overlay{
	background: #FDFDFD;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	opacity: 1;
	display: none;
	@include transition(opacity,0.4s,ease-in);
}
.loading-process{
	.overlay{
		display: block;
	}
}

.finish-loading{
	.overlay{
		opacity: 0;
	}
	.loading-info,
	.loading-circle{
		opacity: 0;
	}
	.loading-avatar{
		border: 4px solid #fff;
	}
}
.loading{
	margin: auto;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width:100 + 20;
	height:100 + 20;
	z-index: 10;
}
.loading-circle{
	background-color:rgba(0,0,0,0);
	opacity: 0.9;
	border-top:10px solid rgb(39,174,96);
	border-right:10px solid rgb(211,84,0);
	border-bottom:10px solid rgb(41,128,185);
	border-left:10px solid rgb(192,57,43);
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	@include transition(all,0.4s,ease-in);
	
	animation: spin 1s infinite linear;
	-webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;

}

@keyframes spin {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
@-moz-keyframes spin {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes spin {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
@-o-keyframes spin {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}

.loading-avatar{
	width: 100px;
	height: 100px;
	overflow: hidden;
	position: absolute;
	top: 10px;
	left: 10px;
	border-radius: 50%;
	@include transition(border-width,0.4s,ease-in);
	img{
		width: 100px;
		height: 100px;
		border-radius: 50%;
	}
}
.loading-info{
	position: absolute;
	top: 130%;
	width: 160%;
	@include transition(opacity,.4s,ease-in);
}
.section-firstpage{
	text-align: center;
	color: #fff;
	font-size: 60px;

	p{
		padding-bottom: 0;
		
	}
	.fade1{

		
	}
	.fade2{
		
		margin-top:80px;

		font-size: 25px;
	}
	.fade3{
	
		margin-top: 30px;
		font-size: 25px;
	}
	.fade4{

		margin-top: 30px;
		font-size: 25px;
	}


	.fade{
	&.fade-in{
		opacity: 0.85;
		
		z-index: 5;
	}}

}
.scroll-tip{
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: absolute;
	bottom: -30px;
	top: auto !important;
	left: 50%;
	margin-left: -30px;
	text-indent: -9999px;
	background: #fff url(images/bg-down-arrow.png) no-repeat 50% 30%;
}
.section-about{

opacity: 0.7;

	.about-content{

		
		h1{
			margin-bottom: 30px;
			font-size: 36px;
			box-shadow: 5px 5px 5px #eee;

		}
		p{
			font-size: 20px;
			color: #000;
		}
		.left{
			border-radius: 10%;
			position: absolute;
			top: 10%;
			left: 18%;
			padding: 50px 50px;
			background: #fff;
			z-index: 2;
			max-width: 300px;
		}
		.right{
			position: absolute;
			top: 30%;
			left: 48%;
			
			background: #fff;
			border-radius: 10%;
			padding: 20px 20px;
			z-index: 1;
		}
		@extend .clearfix;
		.fade{
			@include transition(all,0.4s,ease-in);
		}
	
	}
}
.nav-bg{
	background: #000;
	position: relative;
	z-index: 1;
	height: 80px;
	margin: 0 auto;
	width: 0;
	@include transition(width,1s,ease-in);
}
.shrink{
	.nav li a{
		padding: 20px 0;
		font-size: 24px;
	}
	.nav .back-home a{
		top: 0;
	}
	.nav-bg{
		width: 100%;
	}
}
.section-china{
	/* background: #89bdd3; */
	.china-content{
		h1{
			text-align: center;
			color: #fff;
		}
		.china-list .fade{
			 
			@include transition(all,.4s,ease-in);
			&.fade-in{
				left: 0;
				top: 0;
			}
		}
		.china-item{
			position: relative;
			width: 30%;
			margin-left: 10%;
			margin-bottom: 30px;
			float: left;
			overflow: hidden;
			box-shadow: 5px 5px 10px #eee;
			img{
				-webkit-transform:scale(1);
				-moz-transform:scale(1);
				-ms-transform:scale(1);
				-o-transform:scale(1);
				transform:scale(1);
				@include transition(all,0.2s,ease-in);
			}
			&.first{
				margin-left: 15%;
			}
			&:hover{
				img{
				-webkit-transform:scale(1.5);
				-moz-transform:scale(1.5);
				-ms-transform:scale(1.5);
				-o-transform:scale(1.5);
				transform:scale(1.5);					
				}
				.china-info{
					top: 0;
				}
			}

		}
		.china-info{
			position: absolute;
			top: 143px;
			padding: 10px;
			left: 0;
			right: 0;
			height: 100%;
			color: #fff;
			background: rgba(0,0,0,.8);
			@include transition(all,.2s,ease-in);
			h2{

			}
		}
	}
	.more-link{
		color: #fff;
		display: block;
		padding: 10px 20px;
		width: 60px;
		text-align: center;
		margin: 0 auto;
		background: #3d3d3d;
		background: rgba(0,0,0,.6);
		&:hover{
			color: #fff;
			background: #3d3d3d;
			background: rgba(0,0,0,.4);
		}
	}

}
.section-foreign{
	/* background:#e3e3e3; */
		.foreign-content{
		h1{
			text-align: center;
			color: #fff;
		}
		.foreign-list .fade{
			 
			@include transition(all,.4s,ease-in);
			&.fade-in{
				left: 0;
				top: 0;
			}
		}
		.foreign-item{
			position: relative;
			width: 30%;
			margin-left: 10%;
			margin-bottom: 30px;
			float: left;
			overflow: hidden;
			box-shadow: 5px 5px 10px #eee;
			img{
				-webkit-transform:rotate(0);
				-moz-transform:rotate(0);
				-ms-transform:rotate(0);
				-o-transform:rotate(0);
				transform:rotate(0);
				@include transition(all,0.6s,ease-in);
			}
			&.first{
				margin-left: 15%;
			}
			&:hover{
				img{
				-webkit-transform:rotate(360deg);
				-moz-transform:rotate(360deg);
				-ms-transform:rotate(360deg);
				-o-transform:rotate(360deg);
				transform:rotate(360deg);					
				}
				.foreign-info{
					left: 0;
				}
			}

		}
		.foreign-info{
			position: absolute;
			top: 0px;
			padding: 10px;
			left: 300px;
			right: 0;
			height: 100%;
			color: #fff;
			background: rgba(0,0,0,.8);
			@include transition(all,.2s,ease-in);
			h2{

			}
		}
		.more-link{
			color: #fff;
			display: block;
			padding: 10px 20px;
			width: 60px;
			text-align: center;
			margin: 0 auto;
			background: #3d3d3d;
			background: rgba(0,0,0,.6);
			&:hover{
				color: #fff;
				background: #3d3d3d;
				background: rgba(0,0,0,.4);
			}
	}

	}

}
.section-contact{
	/* background: #c9c9c9; */
	@extend .clearfix;
	opacity: 0.7;
			.contact{
			width: 400px;
			height: 400px;
			border-radius: 50%;
			position: absolute;
			top: 30%;
			left: 50%;
			margin-left: -250px;
			padding: 100px 100px;
			background: #fff;
			z-index: 2;

		}
}